<div class="card">
  <div class="card-header">
    <h1>Anleitung</h1>
  </div>
  <div class="card-body">

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="Allgemein">
        <ng-template ngbPanelContent>       
            <p>
              Diese Anwendung dient dazu Mitglieder, Gäste, Getränke und
              Getränkelisten zu verwalten und zu exportieren.  
            </p>
          </ng-template>
        </ngb-panel>
      <ngb-panel title="Mitglied erstellen">
        <ng-template ngbPanelContent>       
            <p>
              Mitglieder können über den Button "Mitglied erstellen" erstellt
              werden. Es öffnet sich ein Fenster zum erstellen bzw. bearbeiten der
              Mitglieds. Jedes Mitglied breucht mindestens einen Vor- oder
              Nachnamen. Ansonsten kann er nicht erstellt werden. Nachdem drücken
              von "Speichern" wird das Fenster geschlossen und das Mitglied wird in
              der Liste angezeigt.
            </p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Mitglied bearbeiten">
          <ng-template ngbPanelContent>     
            <p>
              Wird auf das Stift-Symbol gedrückt öffnet sich ein Fenster zum
              bearbeiten des Mitglieds. Wird speichern gedrückt, schließt sich das
              Fenster und das Mitglied wird in der Liste aktualisiert dargestellt.
            </p>
          </ng-template>
        </ngb-panel>
        <ngb-panel title="Mitglied löschen">
          <ng-template ngbPanelContent>     
            <p>
              Wird auf das Kreuz-Symbol gedrückt wird eine Warnung angezeigt. Wird
              die Warnung bestätig, wird das Mitglied gelöscht und nicht mehr in der
              Liste angezeigt.
            </p>
          </ng-template>
        </ngb-panel>
          <ngb-panel title="Gast erstellen">
            <ng-template ngbPanelContent>     
              <p>
                Gäste können über den Button "Gast erstellen" erstellt werden. Es
                öffnet sich ein Fenster zum erstellen bzw. bearbeiten des Gasts. Jeder
                Gast breucht mindestens einen Vor- oder Nachnamen. Ansonsten kann er
                nicht erstellt werden. Nachdem drücken von "Speichern" wird das
                Fenster geschlossen und der Gast wird in der Liste angezeigt.
              </p>
            </ng-template>
          </ngb-panel>
        <ngb-panel title="Gast bearbeiten">
          <ng-template ngbPanelContent>     
            <p>
              Wird auf das Stift-Symbol gedrückt öffnet sich ein Fenster zum
              bearbeiten des Gasts. Wird speichern gedrückt, schließt sich das
              Fenster und der Gast wird in der Liste aktualisiert dargestellt.
            </p>
          </ng-template>
        </ngb-panel>
            <ngb-panel title="Gast löschen">
              <ng-template ngbPanelContent>     
            <p>
              Wird auf das Kreuz-Symbol gedrückt wird eine Warnung angezeigt. Wird
              die Warnung bestätig, wird der Gast gelöscht und nicht mehr in der
              Liste angezeigt.
            </p>
          </ng-template>
        </ngb-panel>
            <ngb-panel title="Getränk erstellen">
              <ng-template ngbPanelContent>     
            <p>
              Getränke können über den Button "Getränk erstellen" erstellt werden.
              Es öffnet sich ein Fenster zum erstellen bzw. bearbeiten des Getränks.
              Jedes Getränk breucht mindestens einen Namen. Liter und Preis sind
              initial immer 0. Ansonsten kann das Getränk nicht erstellt werden.
              Nachdem drücken von "Speichern" wird das Fenster geschlossen und das
              Getränk wird in der Liste angezeigt.
            </p>
          </ng-template>
        </ngb-panel>
            <ngb-panel title="Getränk bearbeiten">
              <ng-template ngbPanelContent>     
            <p>
              Wird auf das Stift-Symbol gedrückt öffnet sich ein Fenster zum
              bearbeiten des Getränks. Wird speichern gedrückt, schließt sich das
              Fenster und das Getränk wird in der Liste aktualisiert dargestellt.
            </p>
          </ng-template>
        </ngb-panel>
            <ngb-panel title="Getränk löschen">
              <ng-template ngbPanelContent>     
             <p>
              Wird auf das Kreuz-Symbol gedrückt wird eine Warnung angezeigt. Wird
              die Warnung bestätig, wird das Getränk gelöscht und nicht mehr in der
              Liste angezeigt.
            </p>
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Getränkeliste erstellen">
              <ng-template ngbPanelContent>     
            <p>
              Das "Getränkeliste erstellen" führt zu einem Fenster zum erstellen der
              Getränkeliste. Falls eine Vorlage vorhanden ist wird diese benutzt für
              das Vorauswählen von Personen und Getränken. Nachdem speichern wird
              die neue Getränkeliste in der Liste angezeigt.
            </p>
          </ng-template>
        </ngb-panel>
            <ngb-panel title="Getränkeliste bearbeiten">
              <ng-template ngbPanelContent>     
            <p>
              Das Stift-Symbol führt zu einem Fenster zum Bearbeiten der Werte der
              Getränkeliste. Nachdem speichern werden die Änderungen der
              Getränkeliste ind Liste angezeigt.
            </p>
          </ng-template>
        </ngb-panel>
            <ngb-panel title="Berechne Liste">
              <ng-template ngbPanelContent>     
            <p>
              Das Taschenrechner-Symbol führt zu einem Fenster zum Berechnen der
              Getränkeliste. Es kann zu jeder Person die Anzahl der Getränke
              angegeben werden. Durch das Eingabefeld kann die Menge vom getrunkenem
              Getränk pro Person definiert werden. Es wird direkt die Summe
              aktualisiert. Nachdem speicher wird die Liste angezeigt mit den neuen
              Gesdamtkosten der bearbeiten Getränkeliste angezeigt.
            </p>
          </ng-template>
        </ngb-panel>
            <ngb-panel title="Liste exportieren">
              <ng-template ngbPanelContent>     
            <p>
              Auf das klicken des Export-Symbols können 
              Getränkelisten und Gesamtlisten exportiert werden als PDF-Dateien.
              Die Gesamtübersicht kann in zwei Varianten exportiert werden.
              Als Gesamtübersicht exportieren werden alle Personen mit ihren gesamten Ausgaben angezeigt.
              Bei der detailierten Übersicht werden dazu noch die einzelnen Getränke und deren Kosten angezeigt.
            </p>
          </ng-template>
        </ngb-panel>
            <ngb-panel title="Vorlage">
              <ng-template ngbPanelContent>     
            <p>
              Dient als Vorlage von Personen und Getränke für das erstellen von
              Getränkelisten. Es können Personen und Getränke hinzugefügt oder
              entfernt werden. Nach jeder Aktion werden die Änderungen gespeichert.
              Wird eine Getränkeliste erstellt werden im Bereich der Personen und
              Getränke, je was in der Vorlage gewählt wurde, diese vorausgewählt.
              Die Gesamtliste kann wie die Getränkelisten bearbeitet und berechnet
              werden.
            </p>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
    </div>
  <div class="card-footer">
  </div>
</div>
