<div class="card">
  <div class="card-header">
    <h1>Anleitung</h1>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-6">
        <p>
          Diese Anwendung dient dazu Mitglieder, Gäste, Getränke und
          Getränkelisten zu verwalten. Sie ist in folgenden Bereiche unterteilt:
        </p>
        <h2>Mitglieder</h2>
        <h3>Mitglied erstellen</h3>
        <p>
          Mitglieder können über den Button "Mitglied erstellen" erstellt
          werden. Es öffnet sich ein Fenster zum erstellen bzw. bearbeiten der
          Mitglieds. Jedes Mitglied breucht mindestens einen Vor- oder
          Nachnamen. Ansonsten kann er nicht erstellt werden. Nachdem drücken
          von "Speichern" wird das Fenster geschlossen und das Mitglied wird in
          der Liste angezeigt.
        </p>
        <h3>Mitglied bearbeiten</h3>
        <p>
          Wird auf das Stift-Symbol gedrückt öffnet sich ein Fenster zum
          bearbeiten des Mitglieds. Wird speichern gedrückt, schließt sich das
          Fenster und das Mitglied wird in der Liste aktualisiert dargestellt.
        </p>
        <h3>Mitglied löschen</h3>
        <p>
          Wird auf das Kreuz-Symbol gedrückt wird eine Warnung angezeigt. Wird
          die Warnung bestätig, wird das Mitglied gelöscht und nicht mehr in der
          Liste angezeigt.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <h2>Gäste</h2>
        <h3>Gast erstellen</h3>
        <p>
          Gäste können über den Button "Gast erstellen" erstellt werden. Es
          öffnet sich ein Fenster zum erstellen bzw. bearbeiten des Gasts. Jeder
          Gast breucht mindestens einen Vor- oder Nachnamen. Ansonsten kann er
          nicht erstellt werden. Nachdem drücken von "Speichern" wird das
          Fenster geschlossen und der Gast wird in der Liste angezeigt.
        </p>
        <h3>Gast bearbeiten</h3>
        <p>
          Wird auf das Stift-Symbol gedrückt öffnet sich ein Fenster zum
          bearbeiten des Gasts. Wird speichern gedrückt, schließt sich das
          Fenster und der Gast wird in der Liste aktualisiert dargestellt.
        </p>
        <h3>Gast löschen</h3>
        <p>
          Wird auf das Kreuz-Symbol gedrückt wird eine Warnung angezeigt. Wird
          die Warnung bestätig, wird der Gast gelöscht und nicht mehr in der
          Liste angezeigt.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <h2>Getränke</h2>
        <h3>Getränke erstellen</h3>
        <p>
          Getränke können über den Button "Getränk erstellen" erstellt werden.
          Es öffnet sich ein Fenster zum erstellen bzw. bearbeiten des Getränks.
          Jedes Getränk breucht mindestens einen Namen. Liter und Preis sind
          initial immer 0. Ansonsten kann das Getränk nicht erstellt werden.
          Nachdem drücken von "Speichern" wird das Fenster geschlossen und das
          Getränk wird in der Liste angezeigt.
        </p>
        <h3>Getränke bearbeiten</h3>
        <p>
          Wird auf das Stift-Symbol gedrückt öffnet sich ein Fenster zum
          bearbeiten des Getränks. Wird speichern gedrückt, schließt sich das
          Fenster und das Getränk wird in der Liste aktualisiert dargestellt.
        </p>
        <h3>Getränk löschen</h3>
        <p>
          Wird auf das Kreuz-Symbol gedrückt wird eine Warnung angezeigt. Wird
          die Warnung bestätig, wird das Getränk gelöscht und nicht mehr in der
          Liste angezeigt.
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <h2>Getränkelistem</h2>
        <h3>Getränkeliste erstellen</h3>
        <p>
          Das "Getränkeliste erstellen" führt zu einem Fenster zum erstellen der
          Getränkeliste. Falls eine Vorlage vorhanden ist wird diese benutzt für
          das Vorauswählen von Personen und Getränken. Nachdem speichern wird
          die neue Getränkeliste in der Liste angezeigt.
        </p>
        <h3>Getränkeliste erstellen</h3>
        <p>
          Das Stift-Symbol führt zu einem Fenster zum Bearbeiten der Werte der
          Getränkeliste. Nachdem speichern werden die Änderungen der
          Getränkeliste ind Liste angezeigt.
        </p>
        <h3>Berechne Liste</h3>
        <p>
          Das Taschenrechner-Symbol führt zu einem Fenster zum Berechnen der
          Getränkeliste. Es kann zu jeder Person die Anzahl der Getränke
          angegeben werden. Durch das Eingabefeld kann die Menge vom getrunkenem
          Getränk pro Person definiert werden. Es wird direkt die Summe
          aktualisiert. Nachdem speicher wird die Liste angezeigt mit den neuen
          Gesdamtkosten der bearbeiten Getränkeliste angezeigt.
        </p>
        <h3>Auswählen für Gesamtliste erstellen</h3>
        <p>
          Es können getränkelisten zu einer neuen Getränkeliste kombiniert
          werden. Eine sogenannte Gesamtliste. Mit dem Plus-Symbol können
          Getränkelisten ausgewählt werden. Sie werden blau makiert. Sind
          mindestens zwei Getränkelisten ausgewählt kann "Gesamtliste erstellen"
          gewählt werden. Danach wird eine Gesamtliste erstellt mit allen
          Getränken und Personen der verschiedenen Getränkelisten. Es werden
          neue Gesamtkosten erstellt. Der Zeitraum beginnt bei der frühstem
          Datum und endet am spätestem Datum allen gewählten Getränkelisten.
        </p>
        <h3>Liste exportieren</h3>
        <p>
          Noch in Arbeit
        </p>
      </div>
      <div class="col-12 col-lg-6">
        <h2>Vorlage</h2>
        <p>
          Dient als Vorlage von Personen und Getränke für das erstellen von
          Getränkelisten. Es können Personen und Getränke hinzugefügt oder
          entfernt werden. Nach jeder Aktion werden die Änderungen gespeichert.
          Wird eine Getränkeliste erstellt werden im Bereich der Personen und
          Getränke, je was in der Vorlage gewählt wurde, diese vorausgewählt.
          Die Gesamtliste kann wie die Getränkelisten bearbeitet und berechnet
          werden.
        </p>
      </div>
    </div>
  </div>
  <div class="card-footer"></div>
</div>
