<!-- Getränkelisten -->
<div class="row">
    <div class="col text-center">
      <button type="button" class="btn btn-primary" (click)="openCreateTemplateDrinklist()">Trinkliste erstellen</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h1>Getränkelisten</h1>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Ersteller</th>
        <th scope="col">Start</th>
        <th scope="col">Ende</th>
        <th scope="col">Ausgaben</th>
        <th style="width: 100px;" scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="drinklistings && drinklistings.length > 0">
        <tr *ngFor="let drinklist of drinklistings; let i = index">
            <th>{{drinklist.creator}}</th>
            <td>{{drinklist.startDate}}</td>
            <td>{{drinklist.endDate}}</td>
            <td style="width: 100px;" class="text-center">
              <button (click)="openEditDrinkList(drinklist, i)" class="btn btn-outline-secondary"><i
                  class="icon ion-md-create"></i></button>
              <button (click)="deleteDrinkList(i)" class="btn btn-outline-secondary"><i class="icon ion-md-trash"></i></button>
            </td>
          </tr>
    </tbody>
  </table>
  <div *ngIf="!drinklistings || drinklistings.length === 0" class="text-center">
    <h3>Liste ist leer</h3>
  </div>
