<!-- Getränkelisten -->
<div class="row">
  <div class="col text-center">
    <button
      type="button"
      class="btn btn-primary"
      (click)="openCreateTemplateDrinklist()"
    >
      Vorlage bearbeiten
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="openCreateDrinklist()"
    >
      Getränkeliste erstellen
    </button>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <h1>Getränkelisten</h1>
  </div>
</div>
<div class="row text-center mt-5 mb-5">
  <div class="col-12">
    <input [(ngModel)]="searchText" placeholder="Suche" />
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <h1>Mitglieder</h1>
  </div>
</div>
<table *ngIf="drinkListViews.length > 0 && !loading" class="custom-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Ersteller/in</th>
      <th scope="col">Zeitraum</th>
      <th scope="col">Gesamtkosten</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let drinkListView of drinkListViews
          | filter
            : {
                id: searchText,
                creator: searchText,
                time: searchText,
                cost: searchText
              };
        let i = index
      "
      class="custom-table-card"
    >
      <td class="pt-0 pb-0">
        <a (click)="openEditDrinkList(i)"
          ><i class="icon ion-md-create create"></i
        ></a>
        <a (click)="deleteDrinkList(i)"
          ><i class="icon ion-md-close delete"></i
        ></a>
      </td>
      <td data-label="ID">{{ drinkListView.id }}</td>
      <td data-label="Name">
        {{ drinkListView.creator }}
      </td>
      <td data-label="Zeitraum">
        {{ drinkListView.time }}
      </td>
      <td data-label="Kosten">
        {{ drinkListView.cost }}
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center" *ngIf="drinkListViews.length === 0">
  <h3>Liste ist leer</h3>
</div>
