<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="assets/images/logo.jpeg" />
      <div class="row">
        <div class="col">
          <button (click)="openTemplate('MEMBER');" class="btn btn-primary">Mitglieder</button>
        </div>
        <div class="col">
          <button (click)="openTemplate('DRINKSLISTS');" class="btn btn-primary">Getränkelisten</button>
        </div>
        <div class="col">
          <button (click)="openTemplate('DRINKS');" class="btn btn-primary">Getränke</button>
        </div>
        <div class="col">
          <button (click)="openTemplate('CEATEDRINKSLIST');" class="btn btn-primary">Getränkeliste erstellen</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-list-users *ngIf="memberListingTemplate"></app-list-users>
<app-list-drinks *ngIf="drinkListingTemplate"></app-list-drinks>
<app-drink-editor *ngIf="drinkEditor"></app-drink-editor>
<app-edit-list-drink *ngIf="drinkListsEditor"></app-edit-list-drink>
<router-outlet></router-outlet>
