@import "~@ng-select/ng-select/themes/default.theme.css";

/* Table-Card */
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table.custom-table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table.custom-table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table.custom-table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table.custom-table th,
table.custom-table td {
  padding: 0.625em;
  text-align: center;
}

table.custom-table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

table.custom-table {
  border: 0;
}

table.custom-table caption {
  font-size: 1.3em;
}

table.custom-table thead {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

table.custom-table tr {
  border-bottom: 3px solid #ddd;
  display: block;
  margin-bottom: 0.625em;
}

table.custom-table td {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: 0.8em;
  text-align: right;
}

table.custom-table td::before {
  /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

table.custom-table td:last-child {
  border-bottom: 0;
}

.custom-table-card {
  margin: 1rem;
  width: 400px;
  display: inline-grid !important;
}

.selected-card {
  border: solid 3px #4c63b6 !important;
  background-color: #e0e8f9 !important;
}

/* Icons */

.delete {
  cursor: pointer;
  color: red;
  font-size: 2rem;
}

.create {
  cursor: pointer;
  color: blue;
  font-size: 2rem;
  float: left;
}

.calculate {
  cursor: pointer;
  color: green;
  font-size: 2rem;
  float: left;
  margin-left: 0.5rem;
}

.add {
  cursor: pointer;
  color: black;
  font-size: 2rem;
  float: left;
  margin-left: 0.5rem;
}

.my-custom-modal-width .modal-dialog {
  max-width: 1024px;
}

/* Background */

.background-body {
  background-color: rgb(240, 244, 248, 0.4);
}

/* Navbar*/

ngb-tabset ul.nav-tabs li a.nav-link.active {
  background-color: rgb(240, 244, 248, 0.4);
  border-bottom: 0;
  color: #14919b;
}

ngb-tabset ul.nav-tabs li a.nav-link {
  background-color: transparent;
  color: #4055a8;
}

ngb-tabset .nav-tabs .nav-link {
  border-bottom: 0;
  font-size: larger;
  font-family: serif;
}

.btn {
  font-size: large;
  font-family: serif;
}

.btn-secondary {
  background-color: #829ab1;
}

.list-group-item {
  font-size: large;
  font-family: serif;
}

.list-group-item.active {
  background-color: #829ab1;
}
