<div class="card text-center">
  <form [formGroup]="drinkForm" (ngSubmit)="save()" >

    <div class="card-header">
      <h3 *ngIf="createMode">Getränk erstellen</h3>
      <h3 *ngIf="!createMode">Getränk bearbeiten</h3>
    </div>

    <div class="card-body text-left">
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
          <input formControlName="name" type="text" class="form-control" required>
          <label class="text-danger" *ngIf="!drinkForm.valid && submit">Bitte Namen angeben</label>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Beschreibung</label>
        <div class="col-sm-10">
          <input formControlName="description" type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Liter</label>
        <div class="col-sm-10" style="max-width: 300px;">
          <ng-number-picker [postfix]="'Liter'" min="0" step="0.1" [(value)]="liter" (valueChange)="changeLiter($event);"></ng-number-picker>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Preis</label>
        <div class="col-sm-10" style="max-width: 300px;">
          <ng-number-picker [postfix]="'€'" min="0" step="0.1" [(value)]="price" (valueChange)="changePrice($event);"></ng-number-picker>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-6 text-left">
          <button (click)="activeModal.dismiss('cancel');" type="button" class="btn btn-secondary">Abbrechen</button>
        </div>
        <div class="col-6 text-right">
          <button type="submit" class="btn btn-primary">Speichern</button>
        </div>
      </div>
    </div>
  </form>
</div>
