<div class="row">
  <div class="col text-center pt-3">
    <button
      type="button"
      class="btn btn-sm btn-secondary"
      (click)="openCreateDrink()"
    >
      Getränk erstellen
    </button>
  </div>
</div>

<div class="row text-center mt-4 mb-4">
  <div class="col-12">
    <input
      class="text-center"
      [(ngModel)]="searchText"
      placeholder="Suche Getränk"
    />
  </div>
</div>
<table *ngIf="drinks.length > 0" class="custom-table text-center">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Beschreibung</th>
      <th scope="col">Liter</th>
      <th scope="col">Preis</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="custom-table-card"
      *ngFor="
        let drink of drinkViews
          | filter
            : {
                id: searchText,
                name: searchText,
                description: searchText,
                liter: searchText,
                price: searchText
              };
        let i = index
      "
    >
      <td class="pt-0 pb-0">
        <a (click)="openEditDrink(i)"
          ><i class="icon ion-md-create create"></i
        ></a>
        <a (click)="deleteDrink(i)"><i class="icon ion-md-close delete"></i></a>
      </td>
      <td data-label="ID">{{ drink.id }}</td>
      <td data-label="Name">{{ drink.name }}</td>
      <td data-label="Beschreibung">{{ drink.description }}</td>
      <td data-label="Liter">{{ drink.liter }}</td>
      <td data-label="Preis">{{ drink.price }}</td>
    </tr>
  </tbody>
</table>
<div class="text-center" *ngIf="drinks.length === 0">
  <h3>Liste ist leer</h3>
</div>
