<div class="card text-center">
  <div class="card-header">
    <h3>Mitglied/Gast löschen</h3>
  </div>
  <div class="card-body text-left">
    <label>Wollen Sie wirklich diesen Benutzer löschen?</label>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-6 text-left">
        <button (click)="activeModal.dismiss('cancel');" type="button" class="btn btn-secondary">Abbrechen</button>
      </div>
      <div class="col-6 text-right">
        <button (click)="activeModal.close('delete User');" type="submit" class="btn btn-primary">Speichern</button>
      </div>
    </div>
  </div>
</div>
